<h1>Where would you like to go?</h1>

<main class="row">
  <div class="col-md-12">
    <%= link_to "Tags", settings_tags_path, class: "btn btn-primary" %>
    <%= link_to "Categories", settings_categories_path, class: "btn btn-primary" %>
  </div>
</main>


