<h1>Settings#index</h1>
<p>Find me in app/views/settings/index.html.erb</p>

<%= link_to "Tags", settings_tags_path, :class => "btn btn-primary btn-lg" %>
<%= link_to "Categories", settings_categories_path, :class => "btn btn-primary btn-lg" %>