<div class="card">
  <div class="card-header">
    <h1>Editing Tag</h1>
  </div>
  <%= render 'form', tag: @tag %>
</div>

<%= link_to 'Show', settings_tags_path(@tag) %> |
<%= link_to 'Back', settings_tags_path %>
